# Lesson 03: Intro to the `datascience` Package

The [`datascience`](http://data8.org/datascience/index.html) package was written for use in UC Berkeley’s foundations of data science course and contains useful functionality for investigating and graphically displaying data.

## Tables

The most important functionality in the package is is the [`Table`](https://inferentialthinking.com/chapters/06/Tables.html) class, which is the structure used to represent columns of data. First, load the package:

In [ ]:
from datascience import *

### Creating a Table

- A `Table` is a sequence of labeled columns of data.

- A `Table` can be constructed from scratch by using the .`with_columns()` method.

In [ ]:
t = Table().with_columns(
    'letter', ['a', 'b', 'c', 'z'],
    'count',  [  9,   3,   3,   1],
    'points', [  1,   2,   2,  10],
)
t

More often, a table is read from a `.csv` file (or an Excel spreadsheet). Here’s the content of an example file:

In [ ]:
cat "data/cones.csv"

And this is how we load it in as a `Table` using `read_table()`:

In [ ]:
cones = Table.read_table("data/cones.csv")
cones

### Accessing Values

To access values of columns in the table, use `column()`, which takes a column label or index and returns an array. Alternatively, `columns()` returns a list of columns (arrays).

In [ ]:
t.column('letter')

In [ ]:
t.column(1)

You can use bracket notation as a shorthand for this method:

In [ ]:
t['letter'] # This is a shorthand for t.column('letter')

In [ ]:
t[1] # This is a shorthand for t.column(1)

To access values by row, `row()` returns a row by index. Alternatively, `rows()` returns an list-like `Rows` object that contains tuple-like `Row` objects.

In [ ]:
t.rows

In [ ]:
t.rows[0]

In [ ]:
t.row(0)

In [ ]:
second = t.rows[1]
second

In [ ]:
second[0]

In [ ]:
second[1]

To get the number of rows, use `num_rows`.

In [ ]:
t.num_rows

### Manipulating Data

Here are some of the most common operations on data. For the rest, see the reference ([Tables (datascience.tables)](http://data8.org/datascience/tables.html#tables-overview)).

Adding a column with `with_column()`:

In [ ]:
t

In [ ]:
t.with_column('vowel?', ['yes', 'no', 'no', 'no'])

`.with_column` returns a new table without modifying the original table.

In [ ]:
t

Selecting columns with `select()`:

In [ ]:
t.select('letter')

Notice that `.select` returns a table.

In [ ]:
t.select(['letter', 'points'])

Renaming columns with `relabeled()`:

In [ ]:
t

In [ ]:
t.relabeled('points', 'other name')

In [ ]:
t

In [ ]:
t.relabeled(['letter', 'count', 'points'], ['x', 'y', 'z'])

Selecting out rows by index with `take()` and conditionally with `where()`:

In [ ]:
t

Return the third row.

In [ ]:
t.take(2)

Return the first and second rows.

In [ ]:
t.take[0:2]

Return the rows where `points == 2`.

In [ ]:
t.where('points', 2)

Return the rows where `count < 8`.

In [ ]:
t.where('count', are.below(8))

In [ ]:
t.where(t['count'] < 8)

`.where` actually takes in an array of booleans.

In [ ]:
t['count'] < 8

Operate on table data with `sort()`

In [ ]:
t

In [ ]:
t.sort('count')

In [ ]:
t.sort('letter', descending = True)

### More Table Operations

Show a specific number of rows.

In [ ]:
cones.show(2)

#### Never Ever Ever Ever do this

```
cones.show()
```

#### Selecting Columns

Columns must contained within single (`' '`) or double (`" "`) quotes.

In [ ]:
cones.select(Flavor, 'Price')

**Question 1.** Select the `Flavor` column from the `cones` `Table`.

In [ ]:
cones.select(...)

**Question 2.** Select the `Flavor` and `Price` columns from the `cones` `Table`.

In [ ]:
cones.select(..., ...)

**Question 3.** Drop the `Price` column from the `cones` `Table` without modifying the original `Table`.

In [ ]:
cones.drop(...)

The `.drop()` method does not modify the original table.

In [ ]:
cones

**Question 4.** Drop the `Price` column from the `cones` `Table` and save the new table to `cones_without_price`.

In [ ]:
cones_without_price = cones.drop(...)
cones_without_price

**Question 5.** Find the rows from the `cones` `Table` where the `Flavor` is chocolate.

In [ ]:
cones.where(..., ...)

**Question 6.** Sort the `cones` `Table` in ascending order by `Price`.

In [ ]:
cones.sort(...)

**Question 7.** Sort the `cones` `Table` in descending order by `Price`.

In [ ]:
cones.sort(..., descending=...)

**Question 8.** Sort the `cones` `Table` in descending order by `Flavor`.

In [ ]:
cones.sort(..., descending=...)