## Lesson 05: Visualizations

In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Census Data

In [ ]:
full = Table.read_table('data/nc-est2019-agesex-res.csv')
full

**Question 1.** Create a new table named `partial` that only contains the columns `SEX`, `AGE`, `POPESTIMATE2010`, `POPESTIMATE2019`.

In [ ]:
partial = ...
partial

**Question 2.** Rename the columns `POPESTIMATE2010`, `POPESTIMATE2019` to `2010` and `2019` respectively. Save this to a new table named `simple`.

In [ ]:
simple = ...
simple

**Question 3.** Sort the `partial` table in descending order by `AGE`. What do you notice?

In [ ]:
simple.sort('AGE', descending=True)

In [ ]:
no_999 = simple.where('AGE', are.below(999))
no_999

In [ ]:
everyone = no_999.where('SEX', 0).drop('SEX')
everyone

## Line Plots ##

In [ ]:
everyone.plot('AGE', '2010')

The plot above should be labeled. Let's add a title.

In [ ]:
everyone.plot('AGE', '2010')
plots.title('US Population');

Let's plot the ages for 2010 and 2019.

In [ ]:
everyone.plot('AGE')

## Males and Females in 2019

Let's compare male and female counts per age

In [ ]:
males = ...
females = ...

In [ ]:
pop_2019 = Table().with_columns(
    'Age', males.column('AGE'),
    'Males', males.column('2019'),
    'Females', females.column('2019')
)
pop_2019

In [ ]:
pop_2019.plot('Age')

Let's calculate the percent female for each age.

In [ ]:
total = ...
pct_female = ...
pct_female

In [ ]:
total

We should round it to 3 so that it's easier to read.

In [ ]:
pct_female = np.round(pct_female, 3)
pct_female

In [ ]:
Now we can add female percent to our table.

In [ ]:
pop_2019 = ...
pop_2019

Let's plot the percent female by age.

In [ ]:
pop_2019.plot('Age', 'Percent female')

Look at the $y-$axis. The trend is not as dramatic as you might think.

In [ ]:
pop_2019.plot('Age', 'Percent female')
plots.ylim(0, 100);

## Scatter Plots ##

In [ ]:
actors = Table.read_table('data/actors.csv')
actors

In [ ]:
actors.scatter('Number of Movies', 'Total Gross')

In [ ]:
actors.scatter('Number of Movies', 'Average per Movie')

In [ ]:
actors.where('Average per Movie', are.above(400))

## Bar Charts

Highest grossing movies as of 2017.

In [ ]:
top_movies = Table.read_table('data/top_movies_2017.csv')
top_movies

In [ ]:
np.arange(10)

In [ ]:
top10_adjusted = top_movies.take(np.arange(10))
top10_adjusted

Let's convert to millions of dollars for readability.

In [ ]:
millions = ...
top10_adjusted = ...
top10_adjusted

In [ ]:
top10_adjusted.plot('Year', 'Millions')

A line plot doesn't make sense here.

In [ ]:
top10_adjusted.barh('Title', 'Millions')
plots.title('Top Ten');

## Binning

In [ ]:
ages = 2021 - top_movies.column('Year')
min(ages), max(ages)

Let's add the ages to our table.

In [ ]:
top_movies = top_movies.with_column('Age', ages)
top_movies

In [ ]:
my_bins = make_array(0, 5, 10, 15, 25, 40, 65, 105)

In [ ]:
binned_data = top_movies.bin('Age', bins = my_bins)
binned_data

In [ ]:
sum(binned_data.column('Age count'))

In [ ]:
np.arange(0, 126, 25)

In [ ]:
top_movies.bin('Age', bins = np.arange(0, 126, 25))

In [ ]:
top_movies.bin('Age', bins = np.arange(0, 101, 25))

In [ ]:
 np.arange(0, 101, 25)

In [ ]:
top_movies.where('Age', 100)

## Histograms ##

In [ ]:
my_bins

In [ ]:
binned_data

Let's make our first histogram.

In [ ]:
top_movies.hist('Age', bins = my_bins, unit = 'Year')

Let's try equally spaced bins instead.

In [ ]:
top_movies.hist('Age', bins = np.arange(0, 110, 10), unit = 'Year')

Let's try not specifying any bins.

In [ ]:
top_movies.hist('Age', unit = 'Year')

Add a column containing what percent of movies are in each bin.

In [ ]:
binned_data = binned_data.with_column(
    'Percent', 100*binned_data.column('Age count')/200)

binned_data

In [ ]:
np.sum(binned_data.column('Percent'))