# Lesson 02: Python Data Structures

## Collection Arrays

- [List](https://docs.python.org/3/tutorial/datastructures.html)

- [Tuple](https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences)

- [Dictionary](https://docs.python.org/3/tutorial/datastructures.html#dictionaries)

### Lists

- Lists are used to store multiple items in a single variable.

- Lists are created using square brackets `[ ]`

In [ ]:
my_list = [1, 3, 5, 7, 9]
my_list

In [ ]:
type(my_list)

- List items are ordered, mutable (i.e. changeable), and allow duplicate values.

- List items are indexed, the first item has index `[0]`, the second item has index `[1]` etc.

- The items have a defined order, and that order will not change.

- If you add new items to a list, the new items will be placed at the end of the list.

In [ ]:
my_list[0]

In [ ]:
len(my_list)

**Question 1.** Display the third element in `my_list`.

In [ ]:
...

**Question 2.** Write a `for` loop to print each element in `my_list`.

In [ ]:
for ... in ...:
    print(...)

In [ ]:
for ... in range(...):
    print(...[...])

**Question 3.** Write a `for` loop to print the index and the value of each element in `my_list`.

In [ ]:
for number in range(...):
    print("The index for element", ..., "is", ...[...])

What if we need to add an element to our list?

In [ ]:
my_list.append(11)

In [ ]:
my_list

- A list is mutable - meaning we can change, add, and remove items in a list after it has been created.

  - Remove all items: `.clear()`

  - Remove an item by index and get its value: `.pop()`

  - Remove an item by value: `.remove()`

  - Remove items by index or slice: `del()`

In [ ]:
my_list.remove(9)

In [ ]:
my_list

In [ ]:
my_list.pop(2)

In [ ]:
my_list

We can have a list of strings.

In [ ]:
my_school = ["North", "Carolina", "School", "of", "Science", "and", "Mathematics"]
my_school

We can add numbers to our list.

In [ ]:
my_school.append(1980)

In [ ]:
my_school

In [ ]:
my_school.append(2**0.5)

In [ ]:
my_school

### List Comprehension

In [ ]:
odd_to_99 = [number for number in range(1, 100, 2)]
print(odd_to_99)

## Tuples

- Tuples are used to store multiple items in a single variable.

- Tuples are written with parentheses ( )

In [ ]:
t = 1, 3, 5, 9
t

In [ ]:
my_tuple = (2, 4, 6, 8)
my_tuple

In [ ]:
len(my_tuple)

In [ ]:
my_tuple[0]

- `.index()` searches the tuple for a specified value and returns the position of where it was found

In [ ]:
my_tuple.index(8)

We can iterate through a tuple in the same way we iterated through a list.

In [ ]:
for number in my_tuple:
    print(number)

A tuple should be used for values that don't change. For example, [NCSSM course codes](https://courses.ncssm.edu/course_catalog.php?id=2).

In [ ]:
ds_course_codes = ('MA4110', 'MA4112')
ds_course_codes

## Dictionaries

- Dictionaries are used to store data values in `key : value` pairs.

- A dictionary is a collection which is ordered, changeable and do not allow duplicate keys.

In [ ]:
my_dictionary = {"a":"apple", "b":"banana","c":"carrot"}
my_dictionary

In [ ]:
my_dictionary['a']

In [ ]:
my_info = dict(name = "Mahmoud", age = 50, country = "US")
my_info

In [ ]:
dept_info = dict(name = ['Mahmoud', 'John', 'Karen', 'Kathy'], 
                 age = [50, 25, 45, 33], 
                 country = ["US", "Canada", "US", "France"])
dept_info

In [ ]:
dept_info['name'][0]

In [ ]:
dept_info["dept"] = "math"
dept_info

In [ ]:
dept_info['name'].append('Jayson')

In [ ]:
dept_info

**Question 4.** Below are two lists combine them into a dictionary using the `zip()` function.

In [ ]:
keys = [x for x in "abcdefgh"]
values = [y for y in range(0,8)]

dict(zip(..., ...))

We can create the following dictionary using dictionary comprehensions.

```
{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5}
```

In [ ]:
d1 = {i: i for i in range(0,6)}
d1

**Question 5.** Create the following dictionary using dictionary comprehensions.

```
{'a': 0, 'b': 1, 'c': 4, 'd': 9, 'e': 16, 'f': 25}
```

In [ ]:
d2 = {"abcdef"[i]: i**2 for i in range(0, 6)}
d2

In [ ]:
AFCDivisions = {
"North": ["Steelers", "Browns", "Ravens", "Bengals"],
"East" : ["Patriots", "Jets", "Dolphins", "Bills"],
"West" : ["Raiders", "Chiefs", "Chargers", "Broncos"]
}
AFCDivisions["North"]

In [ ]:
AFCDivisions.keys()

We can iterate through the keys in a dictionary.

In [ ]:
for key in AFCDivisions.keys():
    print(key)

In [ ]:
for key in AFCDivisions:
    print(key,':',AFCDivisions[key])

We can get all the values that are associated with a particular key.

In [ ]:
AFCDivisions.get('North')

We can also access elements in a value that is a list.

In [ ]:
AFCDivisions.get('North')[0]

We can get all the values from the entire dictionary.

In [ ]:
AFCDivisions.values()

## NumPy

You may have seen in some previous assignments that we can use a whole new family of functions using **`NumPy`**. We will talk about a few of them in this notebook, but we should make something clear before we get started.

**`NumPy`** is what is known as a *library*. This means that its functions are not automatically present when you start a new Python environment, so we have to **import** it before we can use it.

```
import numpy as np
```

Let's see what happens if we try to use a `NumPy` function before we import it:

In [ ]:
np.array([1, 2, 3])

We have to use an **import** statement to load in everything `NumPy` has to offer:

In [ ]:
import numpy as np

our_array = np.array([1, 2, 3])
our_array

We can do all sorts of operations using `NumPy` arrays, they are similar to Python lists, so we can still do all of those operations:

In [ ]:
for item in our_array:
    print(item)

Select the second item in `our_array`.

In [ ]:
our_array[1]

Select the second item and all remaining items in `our_array`.

In [ ]:
our_array[1:]

However, `NumPy` arrays have a few more features we can use. Arithmetic operations with `NumPy` arrays are slightly different than arithmetic with Python lists. Let's see some examples:

In [ ]:
our_list = [1, 2, 3]
print("Multiplying a Python list does this:", our_list * 2)
print("Multiplying a NumPy array does this:", our_array * 2)

Note the difference: Multiplication with lists puts two copies of it together, whereas `NumPy` array multiplication multiplies two by each number in the array. This applies to all arithmetic operations.

In [ ]:
print(our_array + 10)
print(our_array - 10)
print(our_array / 2)
print(our_array ** 3)

Doing some of these arithmetic operations in Python are not allowed because lists cannot ineract as easily with non-list types. For example, addition (and subtraction) cause errors because the *list* does not understand the meaning of *subtracting 1*.

In [ ]:
our_list - 1

We can also do arithmetic operations between two arrays (**pairwise multiplication**. ):

In [ ]:
np.array([2, 3, 4]) * np.array([10, 20, 30])

There is also a `NumPy` equivalent of the `range()` function, `np.arange()`. You can think of this as "array" range, and it returns a `NumPy` array instead of a Python list! It has the same end-exclusive behavior as range, and it  overall behaves in a very similar way as a Python list `range()` call.

In [ ]:
np.arange(10)

We can use `np.arange` in a for loop and it behaves just as we would expect.

In [ ]:
for number in np.arange(10):
    print(number)

There is one more very important property of `NumPy` arrays. `NumPy` arrays can be created with items of different types, but `NumPy` automatically casts them all to one type. This is called **type coercion** because all values of the list are *coreced* to become the same type.

- **Booleans** cast to **integers** (True -> 1, False -> 0)

- **Integers** cast to **strings** (1 -> "1", 2 -> "2")
   
   - By the associative property, **Booleans** also cast to **strings** (True -> "True")

Let's look at some examples:

In [ ]:
array1 = np.array([10, 20, True, 40, False])
array1

In [ ]:
array2 = np.array([False, 200, 300, 400, True])
array2

In [ ]:
array1 + array2

We get this resulting array because:

- 10 + (False -> 0) = `10`

- 20 + 200 = `20`

- (True -> 1) + 300 = `301`

- 40 + 400 = `440`

- (False -> 0) + (True -> 1) = `1`

We see the same behavior when adding strings into the mix:

In [ ]:
array3 = np.array(["data", "science", 15, "cool", True])
array3

Notice how all the values become strings!

There are ways to have other more complex data types (lists, dictionaries, etc.) made into `NumPy` arrays, but they are out of scope as far as this class is concerned. Feel free to try out different types on your own, but you will not be tested on it in this class.